.aboutTheKingdom {
  width: 90vw;
  margin: 4rem auto 0 auto;
}

.aboutTheKingdom h2 {
  font-size: 2.5rem;
  margin-top: -2rem;
}

.aboutTheKingdom p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin-top: -2.5rem;
}
