nav {
  height: 70px;
  background-color: #333;
  display: flex;
  justify-content: space-between;
}

nav a img {
  height: 100%;
  width: 90%;
  padding: 10px;
  margin-left: 10px;
}

nav a img:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

nav ul {
  list-style: none;
  margin-right: 7vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  gap: 6vw;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}

nav ul li a:hover {
  color: #86c4cc;
  transform: scale(1.1);
}
