table {
  width: calc(100% - 4rem);
  height: calc(100vh - 19rem);
  margin: auto;
  border-collapse: collapse;
}

tr {
  text-align: center;
  vertical-align: middle;
  width: auto;
  height: auto;
}

td {
  text-align: center;
  vertical-align: middle;
  width: auto;
  height: auto;
}

th {
  text-align: center;
  vertical-align: middle;
  width: auto;
  height: auto;
}

table thead tr {
  background-color: hsl(0, 1%, 67%);
}

table tbody tr:nth-child(odd) {
  background-color: hsl(98, 14%, 84%);
}
